[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
mock = "*"
coverage = "*"

[packages]
requests = "*"
boto3 = "*"
jwt = "*"
pygithub = "*"
slackclient = "*"
airtable-python-wrapper = "*"
