[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
mock = "*"
coverage = "*"
boto3 = "*"
black = "==19.10b0"
flake8 = "*"

[packages]
requests = "*"
jwt = "*"
pygithub = "*"
slackclient = "*"
airtable-python-wrapper = "*"
botostubs = "*"

[pipenv]
allow_prereleases = true
